body {
  /* height: 10000px; */
  scrollbar-width: none;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

}

body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.consolas {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
}

.titleOverlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.title {
  color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 2px #fff, 0px 0px 10px #000;
  font-weight: bold;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
  backdrop-filter: blur(10px);
  width: 100%;
}

.subTitle {
  color: rgba(255, 255, 255, 0);
  /* text-shadow: 0px 0px 2px #CCC, 0px 0px 1px #000; */
  font-weight: bold;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
  backdrop-filter: blur(2px);
  width: 100%;
}

.blurBg {
  backdrop-filter: blur(2px);
}

.blurBackdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  backdrop-filter: blur(2px);
}

.noBg {
  background: none !important;
}

.projectCard {
  margin: 50px;
  padding: 20px;
  /* width: 100%; */
  backdrop-filter: blur(2px);
  
  /* border: solid 2px black; */
  border-radius: 10px !important;
  /* background-color: rgba(255, 255, 255, 0.5) !important; */
}

.link {
  color: black;
}

.pageItem {
  /* position: fixed; */
  min-height: 100vh;
  min-width: 100vw;
}

.stretchCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  z-index: -2;
}

.titleImg {
  width: 300px;
  height: 400px;
  filter: grayscale(1);
}

.titleImageText {
  transform: rotate(90deg) translateY(1.5em) translateX(-1.67em);
  width: 2em;
  padding-bottom: 3em;
  /* text-shadow: 0px 0px 5px #FFF; */
  white-space: nowrap;
  /* backdrop-filter: blur(10px); */
}

.resumeParagraphContainer {
  /* min-height: 50vh; */
  overflow: hidden;
}

.verticalTitle {
  position: relative;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  transform: rotate(90deg) translateY(-25%);
  width: 2em;
  padding-bottom: 3em;
  /* text-shadow: 0px 0px 5px #FFF; */
  white-space: nowrap;
}

.verticalSubTitle {
  position: relative;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  transform: rotate(90deg) translateY(-50%) translateX(-200%);
  width: 2em;
  padding-bottom: 3em;
  /* text-shadow: 0px 0px 5px #FFF; */
  white-space: nowrap;
}

.toolbar {
  background-color: #EEE !important;
  text-shadow: 0px 0px 1px #000;
}

.indent {
  padding-left: 15px;
}

.outline {
  border: solid 1px red;
}

.fixedCenterText {
  position: fixed;
  top: 0px;
  width: 100vw;
  white-space: nowrap;
  transform: translateY(50vh) translateY(-50%);
}

.standardHeader {
  transform-origin: top left;
}

.standardParagraph {
  color: rgba(0, 0, 0, 0.75);
}

.bulletPoint {
  width: 25px;
  height: 25px;
}